/* General Styles */

p,h1,h2,h3,h4 {
    margin: 0px;
}

h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: normal;
}

button {
    font-weight: 600;
    font-size: 16px;
}

p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.primary {
    font-weight: 600;
    font-size: 16px;
}

.secondary {
    font-size: 14px;
    font-weight: 500;
    color: var(--Secondary, rgba(255, 255, 255, 0.60));
}


body {
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    background-color: #101010;
    color: #fff;
    margin: 0px;
    height: 100vh
}


.brand-btn {
    cursor: pointer;
    padding: 14px 28px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 9999px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background-color: var(--Brand, #2E6CF5);
    color: #fff;
    transition: background-color 200ms ease;
}

.brand-btn:hover {
    background-color: #275CD0;
}

.primary-btn {
    cursor: pointer;
    padding: 14px 28px;
    gap: 8px;
    border-radius: 9999px;
    background: #FFF;
    align-self: stretch;
    color: #101010;
    border: none;
    transition: background-color 200ms ease;
}

.primary-btn:hover {
    background: #CCCCCC;
}


.secondary-btn {
    cursor: pointer;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 99px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    transition: background-color 200ms ease;
    font-family: "Inter", sans-serif;
}

.secondary-btn:hover {
    background: rgba(255, 255, 255, 0.25);
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    padding: 22px 32px;
    align-items: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.10);
}

.left-inner {
    display: flex;
    align-items: center;
    gap: 12px;
}

.left-inner .text-wrapper p {
    font-size: 16px;
}

body.joinroom {
    background-image: url(assets/image22.png);
    background-size: cover;
}

.logo {
    max-width: 160px;
    height: auto;
}

.center-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0px;
}

.login-boks {
    display: flex;
    flex-direction: column;
    gap: 42px;
    background-color: rgb(26, 26, 26);
    width: 100%;
    max-width: 400px;
    padding: 46px 32px;
    border-radius: 32px;
}

.form-header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.form-header p{
    font-size: 16px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.input-field {
    padding: 12px 14px;
    border-radius: 12px;
    align-self: stretch;
    background: rgba(255, 255, 255, 0.06);
    border: none;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #fff;
}

.input-field:focus {
    outline: 2px solid #FFF;;
}

label {
    font-weight: 600;
    line-height: 20px;
    font-size: 14px;
}

.avatar-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-self: stretch;
    gap: 6px;
}

.avatar-choice {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
}

.avatar-img {
    border-radius: 9999px;
    cursor: pointer;
}
/* Lobby Styles */
.content {
    display: flex;
    flex: 1 0 0;
}

.content .left {
    display: flex;
    border-right: 2px solid rgba(255, 255, 255, 0.10);
    flex: 1 0 0;
    align-items: center;
    justify-content: center;
}

.content,.left .container {
    display: flex;
    justify-content: center;
}
.cover-wrapper {
    align-self: center;
}
.cover {
    border-radius: 24px;
}

.inline-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.inline-container div i {
    font-size: 26px;
}
.song-wrapper {
    padding-top: 16px;
}


/* Player Progress Styles*/
.progress-container {
    margin-top: 16px;
    position: relative;
    height: 8px;
    align-self: stretch;
    justify-content: center;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 99px;
}

#progress-bar {
    justify-self: stretch;
    background: #D9D9D9;
    width: 0%;
    transition: width 0.1s linear;
}

#progress-knob {
    width: 14px;
    height: 14px;
    background: #D9D9D9;
    border-radius: 99px;
    position: absolute;
    left: 0%;
    transform: translateX(-50%);
    transition: left 0.1s linear;
}



.content .right {
    width: 360px;
}

.content .right .queue {
    padding: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
}

.content .right .events {
    padding: 20px;
}


.footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 2px solid rgba(255, 255, 255, 0.10);
    height: 100px;
    align-items: center;
    justify-content: center;
}

.btn-wrapper {
    display: flex;
    gap: 8px;
}

.btn-wrapper .secondary-btn {
    font-size: 18px;
    font-weight: 600;
}


#more-options i {
    font-size: 24px;
}

#more-options p {
    font-size: 18px;
    font-weight: 600;
}

.join-wrapper {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 62px;
    right: 0px;
    display: flex;
    width: 250px;
    flex-direction: column;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.06);
    background: #1E1E1E;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35);
}

#join-dropdown {
    display: none;
  }
  
#join-dropdown.open {
    display: block;
}

.dropdown-header {
    display: flex;
    padding: 12px 0;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    align-self: stretch;
}
.dropdown-content {
    border-top: 1px solid rgba(255, 255, 255, 0.06);
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.qr-wrapper {
    width: 140px;
    aspect-ratio: 1/1;
}

.code-wrapper {
    cursor: copy;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.06);
}

.code-wrapper:hover {
    background: rgba(255, 255, 255, 0.12);
}